/* RESET START */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 300;
  background-color: #f5f5f5; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  color: inherit;
  text-decoration: none; }

img {
  max-width: 100%; }

input, textarea, button {
  outline: none;
  border: none; }

textarea {
  resize: vertical; }

button {
  cursor: pointer; }

label {
  margin-bottom: 0; }

select, select:hover {
  color: inherit;
  background: #fff; }

option, option:hover {
  color: inherit;
  background: #fff; }

/* RESET END */
.text-bold {
  font-weight: 700; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.vertical-middle {
  vertical-align: middle; }

.label-opacity {
  opacity: 0; }

.fixed-to-top {
  position: fixed;
  z-index: 99;
  top: 0; }

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.justify-content-end {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.justify-content-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.justify-content-sb {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.justify-content-sa {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.align-items-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.align-items-end {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.flex-grow-default {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

black-bg {
  background-color: #333; }

.grey-bg {
  background-color: #bababa; }

.dark-grey-bg {
  background-color: #979797; }

.light-grey-bg {
  background-color: #e3e3e3; }

.xs-light-grey-bg {
  background-color: #f5f5f5; }

.orange-bg {
  background-color: #f58220; }

.orange-light-bg {
  background-color: #ffa200; }

.orange-tab-bg {
  background-color: #ff9a38; }

.green-bg {
  background-color: #04ae00; }

.light-green-bg {
  background-color: #74b67a; }

.xs-light-green-bg {
  background-color: #96cc9b; }

.green-tab-bg {
  background-color: #59b66d; }

.red-bg {
  background-color: #ff0000; }

.dark-red {
  color: #ff3333; }

.pink-bg {
  background-color: #de5252; }

.light-pink-bg {
  background-color: #ec7171; }

.blue-bg {
  background-color: #56819f; }

.light-blue-bg {
  background-color: #80bfca; }

/*************** SCROLLBAR BASE CSS ***************/
.scroll-wrapper {
  overflow: hidden !important;
  padding: 0 !important;
  position: relative; }

.scroll-wrapper > .scroll-content {
  border: none !important;
  -webkit-box-sizing: content-box !important;
          box-sizing: content-box !important;
  height: auto;
  left: 0;
  margin: 0;
  max-height: none;
  max-width: none !important;
  overflow: scroll !important;
  padding: 0;
  position: relative !important;
  top: 0;
  width: auto !important; }

.scroll-wrapper > .scroll-content::-webkit-scrollbar {
  height: 0;
  width: 0; }

.scroll-element {
  display: none; }

.scroll-element, .scroll-element div {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }

.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
  display: block; }

.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
  cursor: default; }

.scroll-textarea {
  border: 1px solid #cccccc;
  border-top-color: #999999; }

.scroll-textarea > .scroll-content {
  overflow: hidden !important; }

.scroll-textarea > .scroll-content > textarea {
  border: none !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100% !important;
  margin: 0;
  max-height: none !important;
  max-width: none !important;
  overflow: scroll !important;
  outline: none;
  padding: 2px;
  position: relative !important;
  top: 0;
  width: 100% !important; }

.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
  height: 0;
  width: 0; }

/*************** SIMPLE INNER SCROLLBAR ***************/
.scrollbar-inner > .scroll-element,
.scrollbar-inner > .scroll-element div {
  border: none;
  margin: 0;
  padding: 0;
  position: absolute; }

.scrollbar-inner > .scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%; }

.scrollbar-inner > .scroll-element.scroll-x {
  bottom: 2px;
  height: 8px;
  left: 0;
  width: 100%; }

.scrollbar-inner > .scroll-element.scroll-y {
  height: 100%;
  right: 2px;
  top: 0;
  width: 12px; }

.scrollbar-inner > .scroll-element .scroll-element_outer {
  overflow: hidden; }

.scrollbar-inner > .scroll-element .scroll-element_track,
.scrollbar-inner > .scroll-element .scroll-bar {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
  opacity: 0.4; }

.scrollbar-inner > .scroll-element .scroll-element_track {
  background-color: #e3e3e3; }

.scrollbar-inner > .scroll-element .scroll-bar {
  background-color: #9c9c9c; }

.scrollbar-inner > .scroll-element:hover .scroll-bar {
  background-color: #919191; }

.scrollbar-inner > .scroll-element.scroll-draggable .scroll-bar {
  background-color: #919191; }

/* update scrollbar offset if both scrolls are visible */
.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
  left: -12px; }

.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
  top: -12px; }

.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
  left: -12px; }

.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
  top: -12px; }

/*************** SIMPLE OUTER SCROLLBAR ***************/
.scrollbar-outer > .scroll-element,
.scrollbar-outer > .scroll-element div {
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 10; }

.scrollbar-outer > .scroll-element {
  background-color: #ffffff; }

.scrollbar-outer > .scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%; }

.scrollbar-outer > .scroll-element.scroll-x {
  bottom: 0;
  height: 12px;
  left: 0;
  width: 100%; }

.scrollbar-outer > .scroll-element.scroll-y {
  height: 100%;
  right: 0;
  top: 0;
  width: 12px; }

.scrollbar-outer > .scroll-element.scroll-x .scroll-element_outer {
  height: 8px;
  top: 2px; }

.scrollbar-outer > .scroll-element.scroll-y .scroll-element_outer {
  left: 2px;
  width: 8px; }

.scrollbar-outer > .scroll-element .scroll-element_outer {
  overflow: hidden; }

.scrollbar-outer > .scroll-element .scroll-element_track {
  background-color: #eeeeee; }

.scrollbar-outer > .scroll-element .scroll-element_outer,
.scrollbar-outer > .scroll-element .scroll-element_track,
.scrollbar-outer > .scroll-element .scroll-bar {
  -webkit-border-radius: 8px;
  border-radius: 8px; }

.scrollbar-outer > .scroll-element .scroll-bar {
  background-color: #d9d9d9; }

.scrollbar-outer > .scroll-element .scroll-bar:hover {
  background-color: #9c9c9c; }

.scrollbar-outer > .scroll-element.scroll-draggable .scroll-bar {
  background-color: #919191; }

/* scrollbar height/width & offset from container borders */
.scrollbar-outer > .scroll-content.scroll-scrolly_visible {
  left: -12px;
  margin-left: 12px; }

.scrollbar-outer > .scroll-content.scroll-scrollx_visible {
  top: -12px;
  margin-top: 12px; }

.scrollbar-outer > .scroll-element.scroll-x .scroll-bar {
  min-width: 10px; }

.scrollbar-outer > .scroll-element.scroll-y .scroll-bar {
  min-height: 10px; }

/* update scrollbar offset if both scrolls are visible */
.scrollbar-outer > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
  left: -14px; }

.scrollbar-outer > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
  top: -14px; }

.scrollbar-outer > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
  left: -14px; }

.scrollbar-outer > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
  top: -14px; }

/*************** SCROLLBAR MAC OS X ***************/
.scrollbar-macosx > .scroll-element,
.scrollbar-macosx > .scroll-element div {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 10; }

.scrollbar-macosx > .scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%; }

.scrollbar-macosx > .scroll-element .scroll-element_track {
  display: none; }

.scrollbar-macosx > .scroll-element .scroll-bar {
  background-color: #6C6E71;
  display: block;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear; }

.scrollbar-macosx:hover > .scroll-element .scroll-bar,
.scrollbar-macosx > .scroll-element.scroll-draggable .scroll-bar {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  opacity: 0.7; }

.scrollbar-macosx > .scroll-element.scroll-x {
  bottom: 0px;
  height: 0px;
  left: 0;
  min-width: 100%;
  overflow: visible;
  width: 100%; }

.scrollbar-macosx > .scroll-element.scroll-y {
  height: 100%;
  min-height: 100%;
  right: 0px;
  top: 0;
  width: 0px; }

/* scrollbar height/width & offset from container borders */
.scrollbar-macosx > .scroll-element.scroll-x .scroll-bar {
  height: 7px;
  min-width: 10px;
  top: -9px; }

.scrollbar-macosx > .scroll-element.scroll-y .scroll-bar {
  left: -9px;
  min-height: 10px;
  width: 7px; }

.scrollbar-macosx > .scroll-element.scroll-x .scroll-element_outer {
  left: 2px; }

.scrollbar-macosx > .scroll-element.scroll-x .scroll-element_size {
  left: -4px; }

.scrollbar-macosx > .scroll-element.scroll-y .scroll-element_outer {
  top: 2px; }

.scrollbar-macosx > .scroll-element.scroll-y .scroll-element_size {
  top: -4px; }

/* update scrollbar offset if both scrolls are visible */
.scrollbar-macosx > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
  left: -11px; }

.scrollbar-macosx > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
  top: -11px; }

/*************** SCROLLBAR LIGHT ***************/
.scrollbar-light > .scroll-element,
.scrollbar-light > .scroll-element div {
  border: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  z-index: 10; }

.scrollbar-light > .scroll-element {
  background-color: #ffffff; }

.scrollbar-light > .scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%; }

.scrollbar-light > .scroll-element .scroll-element_outer {
  -webkit-border-radius: 10px;
  border-radius: 10px; }

.scrollbar-light > .scroll-element .scroll-element_size {
  background: #dbdbdb;
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RiZGJkYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGU4ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+");
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #dbdbdb), color-stop(100%, #e8e8e8));
  background: -webkit-linear-gradient(left, #dbdbdb 0%, #e8e8e8 100%);
  background: -o-linear-gradient(left, #dbdbdb 0%, #e8e8e8 100%);
  background: -webkit-gradient(linear, left top, right top, from(#dbdbdb), to(#e8e8e8));
  background: linear-gradient(to right, #dbdbdb 0%, #e8e8e8 100%);
  -webkit-border-radius: 10px;
  border-radius: 10px; }

.scrollbar-light > .scroll-element.scroll-x {
  bottom: 0;
  height: 17px;
  left: 0;
  min-width: 100%;
  width: 100%; }

.scrollbar-light > .scroll-element.scroll-y {
  height: 100%;
  min-height: 100%;
  right: 0;
  top: 0;
  width: 17px; }

.scrollbar-light > .scroll-element .scroll-bar {
  background: #fefefe;
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNWY1ZjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+");
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #fefefe), color-stop(100%, #f5f5f5));
  background: -webkit-linear-gradient(left, #fefefe 0%, #f5f5f5 100%);
  background: -o-linear-gradient(left, #fefefe 0%, #f5f5f5 100%);
  background: -webkit-gradient(linear, left top, right top, from(#fefefe), to(#f5f5f5));
  background: linear-gradient(to right, #fefefe 0%, #f5f5f5 100%);
  border: 1px solid #dbdbdb;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

/* scrollbar height/width & offset from container borders */
.scrollbar-light > .scroll-content.scroll-scrolly_visible {
  left: -17px;
  margin-left: 17px; }

.scrollbar-light > .scroll-content.scroll-scrollx_visible {
  top: -17px;
  margin-top: 17px; }

.scrollbar-light > .scroll-element.scroll-x .scroll-bar {
  height: 10px;
  min-width: 10px;
  top: 0px; }

.scrollbar-light > .scroll-element.scroll-y .scroll-bar {
  left: 0px;
  min-height: 10px;
  width: 10px; }

.scrollbar-light > .scroll-element.scroll-x .scroll-element_outer {
  height: 12px;
  left: 2px;
  top: 2px; }

.scrollbar-light > .scroll-element.scroll-x .scroll-element_size {
  left: -4px; }

.scrollbar-light > .scroll-element.scroll-y .scroll-element_outer {
  left: 2px;
  top: 2px;
  width: 12px; }

.scrollbar-light > .scroll-element.scroll-y .scroll-element_size {
  top: -4px; }

/* update scrollbar offset if both scrolls are visible */
.scrollbar-light > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
  left: -19px; }

.scrollbar-light > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
  top: -19px; }

.scrollbar-light > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
  left: -19px; }

.scrollbar-light > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
  top: -19px; }

/*************** SCROLLBAR RAIL ***************/
.scrollbar-rail > .scroll-element,
.scrollbar-rail > .scroll-element div {
  border: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  z-index: 10; }

.scrollbar-rail > .scroll-element {
  background-color: #ffffff; }

.scrollbar-rail > .scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%; }

.scrollbar-rail > .scroll-element .scroll-element_size {
  background-color: #999;
  background-color: rgba(0, 0, 0, 0.3); }

.scrollbar-rail > .scroll-element .scroll-element_outer:hover .scroll-element_size {
  background-color: #666;
  background-color: rgba(0, 0, 0, 0.5); }

.scrollbar-rail > .scroll-element.scroll-x {
  bottom: 0;
  height: 12px;
  left: 0;
  min-width: 100%;
  padding: 3px 0 2px;
  width: 100%; }

.scrollbar-rail > .scroll-element.scroll-y {
  height: 100%;
  min-height: 100%;
  padding: 0 2px 0 3px;
  right: 0;
  top: 0;
  width: 12px; }

.scrollbar-rail > .scroll-element .scroll-bar {
  background-color: #d0b9a0;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); }

.scrollbar-rail > .scroll-element .scroll-element_outer:hover .scroll-bar {
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6); }

/* scrollbar height/width & offset from container borders */
.scrollbar-rail > .scroll-content.scroll-scrolly_visible {
  left: -17px;
  margin-left: 17px; }

.scrollbar-rail > .scroll-content.scroll-scrollx_visible {
  margin-top: 17px;
  top: -17px; }

.scrollbar-rail > .scroll-element.scroll-x .scroll-bar {
  height: 10px;
  min-width: 10px;
  top: 1px; }

.scrollbar-rail > .scroll-element.scroll-y .scroll-bar {
  left: 1px;
  min-height: 10px;
  width: 10px; }

.scrollbar-rail > .scroll-element.scroll-x .scroll-element_outer {
  height: 15px;
  left: 5px; }

.scrollbar-rail > .scroll-element.scroll-x .scroll-element_size {
  height: 2px;
  left: -10px;
  top: 5px; }

.scrollbar-rail > .scroll-element.scroll-y .scroll-element_outer {
  top: 5px;
  width: 15px; }

.scrollbar-rail > .scroll-element.scroll-y .scroll-element_size {
  left: 5px;
  top: -10px;
  width: 2px; }

/* update scrollbar offset if both scrolls are visible */
.scrollbar-rail > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
  left: -25px; }

.scrollbar-rail > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
  top: -25px; }

.scrollbar-rail > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
  left: -25px; }

.scrollbar-rail > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
  top: -25px; }

/*************** SCROLLBAR DYNAMIC ***************/
.scrollbar-dynamic > .scroll-element,
.scrollbar-dynamic > .scroll-element div {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 10; }

.scrollbar-dynamic > .scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%; }

.scrollbar-dynamic > .scroll-element.scroll-x {
  bottom: 2px;
  height: 7px;
  left: 0;
  min-width: 100%;
  width: 100%; }

.scrollbar-dynamic > .scroll-element.scroll-y {
  height: 100%;
  min-height: 100%;
  right: 2px;
  top: 0;
  width: 7px; }

.scrollbar-dynamic > .scroll-element .scroll-element_outer {
  opacity: 0.3;
  -webkit-border-radius: 12px;
  border-radius: 12px; }

.scrollbar-dynamic > .scroll-element .scroll-element_size {
  background-color: #cccccc;
  opacity: 0;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s; }

.scrollbar-dynamic > .scroll-element .scroll-bar {
  background-color: #6c6e71;
  -webkit-border-radius: 7px;
  border-radius: 7px; }

/* scrollbar height/width & offset from container borders */
.scrollbar-dynamic > .scroll-element.scroll-x .scroll-bar {
  bottom: 0;
  height: 7px;
  min-width: 24px;
  top: auto; }

.scrollbar-dynamic > .scroll-element.scroll-y .scroll-bar {
  left: auto;
  min-height: 24px;
  right: 0;
  width: 7px; }

.scrollbar-dynamic > .scroll-element.scroll-x .scroll-element_outer {
  bottom: 0;
  top: auto;
  left: 2px;
  -webkit-transition: height 0.2s;
  -o-transition: height 0.2s;
  transition: height 0.2s; }

.scrollbar-dynamic > .scroll-element.scroll-y .scroll-element_outer {
  left: auto;
  right: 0;
  top: 2px;
  -webkit-transition: width 0.2s;
  -o-transition: width 0.2s;
  transition: width 0.2s; }

.scrollbar-dynamic > .scroll-element.scroll-x .scroll-element_size {
  left: -4px; }

.scrollbar-dynamic > .scroll-element.scroll-y .scroll-element_size {
  top: -4px; }

/* update scrollbar offset if both scrolls are visible */
.scrollbar-dynamic > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
  left: -11px; }

.scrollbar-dynamic > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
  top: -11px; }

/* hover & drag */
.scrollbar-dynamic > .scroll-element:hover .scroll-element_outer,
.scrollbar-dynamic > .scroll-element.scroll-draggable .scroll-element_outer {
  overflow: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  opacity: 0.7; }

.scrollbar-dynamic > .scroll-element:hover .scroll-element_outer .scroll-element_size,
.scrollbar-dynamic > .scroll-element.scroll-draggable .scroll-element_outer .scroll-element_size {
  opacity: 1; }

.scrollbar-dynamic > .scroll-element:hover .scroll-element_outer .scroll-bar,
.scrollbar-dynamic > .scroll-element.scroll-draggable .scroll-element_outer .scroll-bar {
  height: 100%;
  width: 100%;
  -webkit-border-radius: 12px;
  border-radius: 12px; }

.scrollbar-dynamic > .scroll-element.scroll-x:hover .scroll-element_outer,
.scrollbar-dynamic > .scroll-element.scroll-x.scroll-draggable .scroll-element_outer {
  height: 20px;
  min-height: 7px; }

.scrollbar-dynamic > .scroll-element.scroll-y:hover .scroll-element_outer,
.scrollbar-dynamic > .scroll-element.scroll-y.scroll-draggable .scroll-element_outer {
  min-width: 7px;
  width: 20px; }

/*************** SCROLLBAR GOOGLE CHROME ***************/
.scrollbar-chrome > .scroll-element,
.scrollbar-chrome > .scroll-element div {
  border: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  z-index: 10; }

.scrollbar-chrome > .scroll-element {
  background-color: #ffffff; }

.scrollbar-chrome > .scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%; }

.scrollbar-chrome > .scroll-element .scroll-element_track {
  background: #f1f1f1;
  border: 1px solid #dbdbdb; }

.scrollbar-chrome > .scroll-element.scroll-x {
  bottom: 0;
  height: 16px;
  left: 0;
  min-width: 100%;
  width: 100%; }

.scrollbar-chrome > .scroll-element.scroll-y {
  height: 100%;
  min-height: 100%;
  right: 0;
  top: 0;
  width: 16px; }

.scrollbar-chrome > .scroll-element .scroll-bar {
  background-color: #d9d9d9;
  border: 1px solid #bdbdbd;
  cursor: default;
  -webkit-border-radius: 2px;
  border-radius: 2px; }

.scrollbar-chrome > .scroll-element .scroll-bar:hover {
  background-color: #9c9c9c;
  border-color: #a9a9a9; }

.scrollbar-chrome > .scroll-element.scroll-draggable .scroll-bar {
  background-color: #919191;
  border-color: #7e7e7e; }

/* scrollbar height/width & offset from container borders */
.scrollbar-chrome > .scroll-content.scroll-scrolly_visible {
  left: -16px;
  margin-left: 16px; }

.scrollbar-chrome > .scroll-content.scroll-scrollx_visible {
  top: -16px;
  margin-top: 16px; }

.scrollbar-chrome > .scroll-element.scroll-x .scroll-bar {
  height: 8px;
  min-width: 10px;
  top: 3px; }

.scrollbar-chrome > .scroll-element.scroll-y .scroll-bar {
  left: 3px;
  min-height: 10px;
  width: 8px; }

.scrollbar-chrome > .scroll-element.scroll-x .scroll-element_outer {
  border-left: 1px solid #dbdbdb; }

.scrollbar-chrome > .scroll-element.scroll-x .scroll-element_track {
  height: 14px;
  left: -3px; }

.scrollbar-chrome > .scroll-element.scroll-x .scroll-element_size {
  height: 14px;
  left: -4px; }

.scrollbar-chrome > .scroll-element.scroll-y .scroll-element_outer {
  border-top: 1px solid #dbdbdb; }

.scrollbar-chrome > .scroll-element.scroll-y .scroll-element_track {
  top: -3px;
  width: 14px; }

.scrollbar-chrome > .scroll-element.scroll-y .scroll-element_size {
  top: -4px;
  width: 14px; }

/* update scrollbar offset if both scrolls are visible */
.scrollbar-chrome > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
  left: -19px; }

.scrollbar-chrome > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
  top: -19px; }

.scrollbar-chrome > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
  left: -19px; }

.scrollbar-chrome > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
  top: -19px; }

#loading {
  background-color: #f58220;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
  margin-top: 0px;
  top: 0px;
  -webkit-transition: opacity .3s linear, z-index .1s linear .3s;
  -o-transition: opacity .3s linear, z-index .1s linear .3s;
  transition: opacity .3s linear, z-index .1s linear .3s; }

#loading.hide {
  z-index: -1;
  opacity: 0; }

#loading-center {
  width: 100%;
  height: 100%;
  position: relative; }

#loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 200px;
  width: 200px;
  margin-top: -100px;
  margin-left: -100px; }

#object {
  width: 80px;
  height: 80px;
  background-color: #FFF;
  -webkit-animation: animate 1s infinite ease-in-out;
  animation: animate 1s infinite ease-in-out;
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px; }

@-webkit-keyframes animate {
  0% {
    -webkit-transform: perspective(160px); }
  50% {
    -webkit-transform: perspective(160px) rotateY(-180deg); }
  100% {
    -webkit-transform: perspective(160px) rotateY(-180deg) rotateX(-180deg); } }

@keyframes animate {
  0% {
    transform: perspective(160px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(160px) rotateX(0deg) rotateY(0deg); }
  50% {
    transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
    -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(0deg); }
  100% {
    transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
    -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(-180deg); } }

.page-title, .section-title, .list-block .list li .list-title {
  color: #a6a6a6;
  font-size: 16px;
  font-weight: 700; }

.page-title {
  text-transform: uppercase; }
  .page-title .small-title {
    font-size: 14px; }

.panel .panel-form .label-group label, .panel .panel-form form .label-group label, .modal .modal-body form .label-group label {
  font-weight: 700;
  font-size: 16px;
  color: #a6a6a6; }

.link {
  font-size: 13px;
  color: #56819f; }
  .link.large-link {
    font-size: 16px; }
  .link:hover {
    color: #ffa200; }

@media (max-width: 767px) {
  .link {
    font-size: 13px; }
    .link.large-link {
      font-size: 14px; } }

.btn {
  padding: 9px 22px;
  font-size: 18px;
  color: #fff;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle; }
  .btn + .btn {
    margin-left: 18px; }
  .btn.btn-default {
    background-color: #979797; }
    .btn.btn-default:hover {
      background-color: #bababa; }
  .btn.btn-action {
    background-color: #f58220; }
    .btn.btn-action:hover {
      background-color: #ffa200; }
  .btn.btn-disabled {
    background-color: #e3e3e3;
    cursor: not-allowed; }
    .btn.btn-disabled:hover {
      background-color: #e3e3e3; }

.color-tab {
  padding: 12px 19px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #a6a6a6;
  cursor: pointer;
  -webkit-border-radius: 2px;
          border-radius: 2px; }
  .color-tab:hover {
    background-color: #f3f3f1; }
  .color-tab .tab-circle {
    display: inline-block;
    width: 16px;
    height: 16px;
    -webkit-border-radius: 50%;
            border-radius: 50%; }
  .color-tab .tab-text {
    padding-left: 13px; }
  .color-tab.color-tab-action {
    background-color: #f3f3f1; }

.list-block {
  padding: 20px 0 55px 0; }
  .list-block .list {
    width: 50%; }
    .list-block .list + .list {
      margin-left: 65px; }
    .list-block .list li {
      border-bottom: 1px solid #e3e3e3;
      padding: 20px 0 10px 0; }
      .list-block .list li span {
        color: #333;
        font-size: 16px; }

.chart-wrap .section-title {
  margin-bottom: 25px; }

.chart-wrap .tabs {
  margin: 40px 0 70px 0; }
  .chart-wrap .tabs .color-tab + .color-tab {
    margin-left: 40px; }

.table {
  border-collapse: collapse;
  font-size: 13px; }
  .table.full-width {
    width: 100%; }
  .table.full-light-width {
    width: 100%; }
  .table thead tr th {
    padding: 30px 15px;
    color: #bababa;
    text-align: left; }
  .table tbody tr:last-child td {
    border-bottom: 1px solid #e3e3e3; }
  .table tbody tr:hover {
    background-color: #f1f3f3;
    cursor: pointer; }
    .table tbody tr:hover .icon-hover {
      opacity: 1; }
  .table tbody tr td {
    border-top: 1px solid #e3e3e3;
    padding: 18px; }
    .table tbody tr td a {
      margin-left: 140px; }
    .table tbody tr td.td-title {
      font-size: 16px;
      color: #bababa; }
  .table .table-sort {
    display: inline-block;
    color: #bababa;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 30px;
    margin-top: -8px;
    margin-bottom: -8px;
    margin-left: -10px;
    margin-right: -30px;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    cursor: pointer;
    position: relative; }
    .table .table-sort .icon {
      position: absolute;
      top: 4px;
      right: 10px; }
    .table .table-sort:hover {
      background-color: #f5f5f5;
      color: #333; }
      .table .table-sort:hover .icon-hover {
        opacity: 1; }

@media (max-width: 1199px) {
  .table.full-light-width {
    width: 1000px; } }

@media (max-width: 767px) {
  .table {
    margin-bottom: 15px; }
    .table.full-width {
      width: 460px; }
    .table tbody tr td {
      padding: 9px; }
      .table tbody tr td a {
        margin-left: 0; }
      .table tbody tr td.td-title {
        font-size: 14px; } }

.icon-hover {
  display: inline-block;
  opacity: 0; }
  .icon-hover span + span {
    margin-left: 25px; }
  .icon-hover .icon:hover {
    color: #f58220; }

.pagination li.active a, .pagination li a:hover {
  background-color: #f5f5f5;
  color: #979797;
  -webkit-border-radius: 2px;
          border-radius: 2px; }

.pagination li {
  display: inline-block; }
  .pagination li a {
    display: inline-block;
    padding: 18px; }

@media (max-width: 1199px) {
  .pagination {
    margin-top: 30px; } }

@media (max-width: 767px) {
  .pagination li a {
    padding: 15px; } }

@media (max-width: 599px) {
  .pagination li a {
    padding: 9px; } }

@media (max-width: 479px) {
  .pagination li a {
    padding: 3px; } }

.notification {
  color: #fff;
  font-size: 14px;
  padding: 12px 14px 12px 22px;
  display: inline-block;
  cursor: pointer; }
  .notification.positive {
    background-color: #96cc9b; }
    .notification.positive:hover {
      background-color: #74b67a; }
  .notification.negative {
    background-color: #ec7171; }
  .notification:hover {
    background-color: #de5252; }

.container-fluid {
  padding: 18px; }

.container-sm {
  max-width: 684px;
  margin: 0 auto; }

.row {
  margin: 0 -18px; }

.container-guide {
  background-color: #fff; }

.header {
  background-color: #fff;
  border-bottom: 1px solid #e3e3e3;
  right: 0;
  left: 0; }
  .header .user-controls {
    font-weight: 400;
    font-size: 20px;
    color: #9c9c9c; }
    .header .user-controls .user-controls-item {
      padding: 20px;
      border-left: 1px solid #e3e3e3; }
      .header .user-controls .user-controls-item span {
        display: inline-block; }
        .header .user-controls .user-controls-item span + * {
          margin-left: 18px; }
    .header .user-controls .header-notification {
      position: relative; }
      .header .user-controls .header-notification .circle-notification {
        position: absolute;
        top: 18px;
        right: 20px;
        width: 8px;
        height: 8px;
        background-color: #f58220;
        -webkit-border-radius: 50%;
                border-radius: 50%; }
    .header .user-controls .header-balance {
      padding-right: 50px;
      position: relative; }
      .header .user-controls .header-balance .icon-arrow-down {
        position: absolute;
        top: 17px;
        right: 20px; }
    .header .user-controls .header-login .user-login {
      font-size: 13px;
      color: #56819f; }

@media (max-width: 599px) {
  .header .user-controls {
    font-size: 16px; }
    .header .user-controls .user-controls-item {
      padding: 15px; }
      .header .user-controls .user-controls-item span + * {
        margin-left: 8px; }
    .header .user-controls .header-notification .circle-notification {
      top: 13px;
      right: 15px; }
    .header .user-controls .header-balance {
      padding-right: 20px; }
      .header .user-controls .header-balance .icon-arrow-down {
        display: none; } }

@media (max-width: 479px) {
  .header .user-controls {
    font-size: 13px; }
    .header .user-controls .user-controls-item {
      padding: 18px 7px; }
      .header .user-controls .user-controls-item span + * {
        margin-left: 2px; }
    .header .user-controls .header-notification .circle-notification {
      top: 13px;
      right: 5px; }
    .header .user-controls .header-balance {
      padding-right: 2px; }
      .header .user-controls .header-balance .icon-wallet {
        display: none; } }

.aside .aside-menu ul li.active a, .aside .aside-menu ul li a:hover {
  border-left-color: #f58220;
  background-color: #282828;
  color: #fff; }

.aside {
  background-color: #191919;
  width: 188px;
  height: 100vh;
  left: 0;
  z-index: 100;
  overflow-y: auto; }
  .aside .menu-control {
    padding: 18px; }
    .aside .menu-control .menu-btn {
      cursor: pointer; }
      .aside .menu-control .menu-btn span {
        display: block;
        width: 18px;
        height: 2px;
        background-color: #979797; }
        .aside .menu-control .menu-btn span + span {
          margin-top: 5px; }
  .aside .aside-menu ul li {
    color: #979797; }
    .aside .aside-menu ul li a {
      display: block;
      padding: 14px;
      border-left: 4px solid transparent; }
      .aside .aside-menu ul li a .icon {
        font-size: 17px;
        margin-right: 15px;
        width: 15px;
        display: inline-block; }
  .aside .your-manager {
    padding: 27px 18px;
    border-top: 1px solid #979797; }
    .aside .your-manager .manager-info {
      margin-top: 18px; }
      .aside .your-manager .manager-info .manager-photo {
        position: relative;
        margin-right: 10px; }
        .aside .your-manager .manager-info .manager-photo .status {
          position: absolute;
          width: 11px;
          height: 11px;
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          right: 0;
          top: 0; }
          .aside .your-manager .manager-info .manager-photo .status.online {
            background-color: #04ae00; }
          .aside .your-manager .manager-info .manager-photo .status.offline {
            background-color: #ff0000; }

.content-wrapper {
  padding: 18px;
  height: -webkit-calc(100vh - 60px);
  height: calc(100vh - 60px);
  overflow-y: auto; }

@media (max-width: 479px) {
  .content-wrapper {
    padding: 0; } }

.panel {
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); }
  .panel + .panel {
    margin-top: 18px; }
  .panel .panel-header {
    border-bottom: 1px solid #e3e3e3;
    padding: 18px; }
  .panel .panel-body {
    padding: 25px 18px; }
    .panel .panel-body p {
      color: #333;
      font-size: 14px;
      margin-top: 10px; }
  .panel .panel-form {
    padding: 40px 0;
    border-bottom: 1px solid #e3e3e3; }
    .panel .panel-form .personal-data .label-group + .label-group {
      margin-left: 0; }
    .panel .panel-form .personal-data .label-group label {
      padding-bottom: 0; }
    .panel .panel-form .label-group + .label-group {
      margin-left: 18px; }
    .panel .panel-form .label-group label {
      display: block;
      padding-bottom: 18px; }
    .panel .panel-form form {
      width: 455px;
      display: inline-block; }
      .panel .panel-form form .form-control {
        width: 310px; }
      .panel .panel-form form .label-group + .label-group {
        margin-top: 15px; }
  .panel .panel-label-group {
    padding-right: 18px;
    padding-left: 18px; }
  .panel .panel-footer {
    padding: 30px 0; }

@media (max-width: 767px) {
  .panel .panel-label-group {
    display: block; }
    .panel .panel-label-group .label-group + .label-group {
      margin-left: 0;
      margin-top: 20px; } }

@media (max-width: 599px) {
  .panel .panel-form form {
    width: 300px;
    display: inline-block; }
    .panel .panel-form form .form-control {
      width: 185px; } }

@media (max-width: 479px) {
  .panel .panel-form {
    padding: 20px 0;
    border-bottom: 1px solid #e3e3e3; }
    .panel .panel-form .label-group + .label-group {
      margin-left: 0; }
    .panel .panel-form form {
      width: 232px;
      display: inline-block; }
      .panel .panel-form form .form-control {
        width: 125px; }
      .panel .panel-form form .label-group + .label-group {
        margin-top: 10px; }
  .panel .panel-label-group {
    padding-right: 10px;
    padding-left: 10px; } }

.panel-date {
  padding: 30px 0;
  border-bottom: 1px solid #e3e3e3; }

@media (max-width: 767px) {
  .panel .panel-body {
    padding: 10px 18px; } }

@media (max-width: 599px) {
  .panel-date {
    padding: 30px 0 15px 0;
    border-bottom: 1px solid #e3e3e3; } }

.datepicker-form .btn {
  vertical-align: middle; }

@media (max-width: 599px) {
  .datepicker-form .btn {
    display: block;
    margin: 10px auto; } }

.date-input-wrap {
  padding: 4px 0;
  margin-right: 12px;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #333; }
  .date-input-wrap .date-control {
    padding: 9px 16px;
    text-align: center; }
  .date-input-wrap #to {
    border-left: 1px solid #e3e3e3;
    background: url(../img/calendar.svg) no-repeat 90%;
    -webkit-background-size: 13px 13px;
            background-size: 13px 13px; }

@media (max-width: 599px) {
  .date-input-wrap {
    margin-right: 0; }
    .date-input-wrap .date-control {
      padding: 9px 4px; } }

@media (max-width: 479px) {
  .date-input-wrap .date-control {
    padding: 3px; } }

.form-control {
  height: 39px;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  color: #a6a6a6;
  font-size: 14px;
  padding: 13px 17px; }
  .form-control:hover {
    border-color: #b1b1b1;
    cursor: pointer;
    color: #333; }
  .form-control:focus {
    border-color: #e3e3e3;
    cursor: pointer;
    color: #333; }
  .form-control.invalid {
    border-color: #ff0000; }
  .form-control.disabled, .form-control.disabled:hover {
    background-color: #e3e3e3;
    border-color: #e3e3e3;
    cursor: not-allowed; }

@media (max-width: 479px) {
  .form-control {
    padding: 13px 3px; } }

.textarea-block {
  margin: 25px 0 -15px; }
  .textarea-block + .textarea-block {
    margin-left: 20px; }
  .textarea-block .section-title {
    padding-bottom: 18px; }
  .textarea-block textarea {
    font-size: 12px;
    color: #a6a6a6;
    padding: 17px;
    resize: none;
    border: 1px solid #e3e3e3;
    width: 100%;
    height: 185px; }

input[disabled] {
  background-color: #e3e3e3;
  border-color: #e3e3e3;
  cursor: not-allowed; }

.modal {
  background-color: #fff;
  display: none; }
  .modal .modal-header {
    padding: 18px;
    border-bottom: 1px solid #e3e3e3; }
    .modal .modal-header span {
      display: block; }
  .modal .modal-body {
    padding: 0 18px; }
    .modal .modal-body form {
      padding: 25px 0; }
      .modal .modal-body form .scheme-name {
        width: 100%; }
      .modal .modal-body form .label-group + .label-group {
        margin-left: 18px; }
      .modal .modal-body form .label-group label {
        display: block;
        padding-bottom: 18px; }
      .modal .modal-body form .label-group .input-scheme-name {
        width: 48.79%;
        margin-right: 18px; }
      .modal .modal-body form .label-group .select-compain {
        width: 48.79%; }
      .modal .modal-body form .label-group .select-language {
        width: 133px; }
  .modal .modal-footer {
    padding: 18px;
    border-top: 1px solid #e3e3e3; }

@media (max-width: 1199px) {
  .modal .modal-body form .label-group .input-scheme-name {
    width: 50%;
    margin-right: 10px; }
  .modal .modal-body form .label-group .select-compain {
    width: 45%; } }

@media (max-width: 767px) {
  .modal .modal-footer form {
    display: block; }
    .modal .modal-footer form .form-control {
      margin-bottom: 15px; }
    .modal .modal-footer form .btn {
      padding: 9px 12px; }
  .modal .modal-body form {
    display: block; }
    .modal .modal-body form .label-group + .label-group {
      margin-left: 0;
      margin-top: 20px; }
    .modal .modal-body form .label-group .input-scheme-name {
      width: 100%; }
    .modal .modal-body form .label-group .select-compain {
      width: 100%;
      display: block;
      margin-top: 10px; } }

#add-links-modal {
  width: 1075px; }
  #add-links-modal .checkbox-group {
    width: 30%; }

@media (max-width: 1199px) {
  #add-links-modal {
    width: 768px; } }

@media (max-width: 991px) {
  #add-links-modal {
    width: 600px; } }

@media (max-width: 767px) {
  #add-links-modal {
    width: 480px; }
    #add-links-modal .checkbox-group {
      width: 80%; } }

@media (max-width: 599px) {
  #add-links-modal {
    width: 300px; } }

@media (max-width: 479px) {
  #add-links-modal {
    width: 200px; } }

#add-banners-modal {
  width: 1075px; }

@media (max-width: 1199px) {
  #add-banners-modal {
    width: 768px; } }

@media (max-width: 991px) {
  #add-banners-modal {
    width: 600px; } }

@media (max-width: 767px) {
  #add-banners-modal {
    width: 480px; }
    #add-banners-modal .checkbox-group {
      width: 80%; } }

@media (max-width: 599px) {
  #add-banners-modal {
    width: 300px; } }

@media (max-width: 479px) {
  #add-banners-modal {
    width: 200px; } }

input[type="checkbox"] {
  display: none; }
  input[type="checkbox"] + label {
    font-size: 14px;
    color: #333;
    cursor: pointer; }
    input[type="checkbox"] + label::before {
      content: '';
      display: inline-block;
      width: 18px;
      height: 18px;
      border: 1px solid #e3e3e3;
      background-color: #fff;
      margin-right: 16px; }
  input[type="checkbox"]:checked + label::before {
    background: #04ae00 url("../img/checkbox-bg.png") no-repeat center; }

input[type="radio"] {
  display: none; }

.checkbox-wrap {
  padding: 30px 0; }
  .checkbox-wrap .checkboxes {
    padding-top: 30px; }
    .checkbox-wrap .checkboxes .scrollbar-inner {
      height: 170px;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      padding-right: 20px; }
    .checkbox-wrap .checkboxes .checkbox-group {
      padding: 12px;
      margin-right: 18px; }
      .checkbox-wrap .checkboxes .checkbox-group:hover {
        background-color: #f5f5f5; }
      .checkbox-wrap .checkboxes .checkbox-group .icon {
        margin-left: auto; }

#custom-handle {
  top: 12px;
  width: 0;
  height: 0;
  border: 10px solid white;
  border-bottom-color: #f58220;
  background: transparent;
  cursor: pointer;
  text-align: center; }
  #custom-handle:focus {
    outline: none;
    color: #333; }
  #custom-handle span {
    position: absolute;
    top: 23px;
    left: -23px; }

.ui-widget.ui-widget-content {
  border: none;
  background: #e3e3e3;
  height: 6px; }

.ui-widget-header {
  background: #f58220; }

.ui-corner-all {
  -webkit-border-radius: 0;
          border-radius: 0; }

.dropdown-menu {
  display: none;
  position: absolute;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  top: 100%;
  left: 0; }

.dropdown-wrap {
  position: relative;
  cursor: pointer; }
  .dropdown-wrap:hover .dropdown-menu {
    display: block; }

.table-responsive {
  overflow-x: auto; }

@media (max-width: 599px) {
  .btn-responsive {
    margin-top: 15px; } }

-webkit-scrollbar-track {
  background-color: #f58220;
  -webkit-box-shadow: none;
          box-shadow: none; }

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0;
          border-radius: 0;
  background-color: #f58220;
  -webkit-box-shadow: none;
          box-shadow: none; }

::-webkit-scrollbar {
  width: 5px;
  height: 5px; }

.guide-wrap {
  padding: 20px; }
  .guide-wrap > * {
    margin-bottom: 15px;
    margin-right: 10px; }
  .guide-wrap.range-slider-wrap {
    height: 100px; }

main {
  padding-left: 188px;
  padding-top: 60px; }

.links .table {
  margin: 18px 0; }

.generate-links-form .form-control {
  margin-right: 16px; }

.checkbox-and-slider {
  padding: 0 18px;
  border-bottom: 1px solid #e3e3e3; }
  .checkbox-and-slider .checkbox-wrap {
    padding: 23px 20px 23px 0;
    border-right: 1px solid #e3e3e3;
    width: 50%; }
    .checkbox-and-slider .checkbox-wrap .checkboxes .scrollbar-inner {
      padding: 0; }
      .checkbox-and-slider .checkbox-wrap .checkboxes .scrollbar-inner .checkbox-group {
        margin: 0; }
  .checkbox-and-slider .range-slider-wrap {
    padding: 23px 0 23px 20px;
    width: 50%; }
    .checkbox-and-slider .range-slider-wrap .section-title {
      margin-bottom: 55px; }

@media (max-width: 599px) {
  .checkbox-and-slider {
    display: block; }
    .checkbox-and-slider .checkbox-wrap {
      width: 100%;
      border: none; }
    .checkbox-and-slider .range-slider-wrap {
      width: 100%;
      padding: 15px 0 65px 0; } }

.checkbox-and-checkbox {
  border-top: 1px solid #e3e3e3; }
  .checkbox-and-checkbox .checkbox-wrap {
    padding: 30px 18px 18px 18px;
    border-right: 1px solid #e3e3e3;
    width: 50%; }
    .checkbox-and-checkbox .checkbox-wrap .checkboxes .scrollbar-inner {
      min-height: 350px; }
      .checkbox-and-checkbox .checkbox-wrap .checkboxes .scrollbar-inner .checkbox-group .icon-show {
        opacity: 0; }
      .checkbox-and-checkbox .checkbox-wrap .checkboxes .scrollbar-inner .checkbox-group:hover .icon-show {
        opacity: 1; }

@media (max-width: 767px) {
  .checkbox-and-checkbox {
    display: block; }
    .checkbox-and-checkbox .checkbox-wrap {
      width: 100%; } }

.content-wrapper .modal {
  display: block; }
  .content-wrapper .modal .modal-body .checkbox-wrap .checkbox-group-width .checkbox-group {
    width: 30%; }

@media (max-width: 991px) {
  .content-wrapper .modal .modal-body .checkbox-wrap .checkbox-group-width .checkbox-group {
    width: 45%; } }

@media (max-width: 767px) {
  .content-wrapper .modal .modal-body .checkbox-wrap .checkbox-group-width .checkbox-group {
    width: 100%; } }

.content-wrapper .modal .panel-form {
  border-bottom: none; }

._mobileSidebar main {
  padding-left: 60px; }

._mobileSidebar .aside {
  width: 60px;
  overflow-y: visible; }
  ._mobileSidebar .aside .logo {
    display: none; }
  ._mobileSidebar .aside .menu-control {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  ._mobileSidebar .aside .aside-menu li {
    text-align: center;
    position: relative; }
    ._mobileSidebar .aside .aside-menu li:hover .menu-link {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
  ._mobileSidebar .aside .aside-menu a .icon {
    margin-right: 0; }
  ._mobileSidebar .aside .aside-menu a .menu-link {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    height: 100%;
    min-width: 150px;
    background-color: #333;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 20px; }
  ._mobileSidebar .aside .your-manager {
    padding-left: 5px;
    padding-right: 5px; }
    ._mobileSidebar .aside .your-manager .page-title {
      display: none; }
    ._mobileSidebar .aside .your-manager .manager-info {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      ._mobileSidebar .aside .your-manager .manager-info .manager-photo {
        margin-right: 0; }
        ._mobileSidebar .aside .your-manager .manager-info .manager-photo img {
          width: 40px;
          height: 40px; }
      ._mobileSidebar .aside .your-manager .manager-info .link {
        display: none; }

.header-balance .dropdown-menu {
  left: -18px; }

@media (max-width: 599px) {
  .header-balance .dropdown-menu {
    left: -8px; } }

@media (max-width: 479px) {
  .header-balance .dropdown-menu {
    left: -2px; } }

.jq-selectbox,
.jq-select-multiple {
  position: relative;
  display: inline-block; }

.jq-selectbox select,
.jq-select-multiple select {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  opacity: 0; }

.jq-selectbox li,
.jq-select-multiple li {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap; }

.jq-selectbox {
  z-index: 10; }

.jq-selectbox__select {
  position: relative; }

.jq-selectbox__select-text {
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis; }

.jq-selectbox__dropdown {
  position: absolute; }

.jq-selectbox__dropdown ul {
  position: relative;
  overflow: auto;
  overflow-x: hidden;
  list-style: none;
  -webkit-overflow-scrolling: touch; }

.jq-select-multiple ul {
  position: relative;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }

.jq-checkbox {
  vertical-align: -4px;
  width: 16px;
  height: 16px;
  margin: 0 4px 0 0;
  border: 1px solid #e3e3e3;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer; }

.jq-checkbox.focused,
.jq-radio.focused {
  border: 1px solid #e3e3e3; }

.jq-checkbox.disabled, .jq-checkbox.form-control.disabled:hover,
.jq-radio.disabled,
.jq-radio.form-control.disabled:hover {
  opacity: .55; }

.jq-checkbox {
  -webkit-border-radius: 2px;
          border-radius: 2px; }

.jq-checkbox.checked .jq-checkbox__div {
  width: 8px;
  height: 4px;
  margin: 3px 0 0 3px;
  border-bottom: 2px solid #666;
  border-left: 2px solid #666;
  -webkit-transform: rotate(-50deg);
  -ms-transform: rotate(-50deg);
      transform: rotate(-50deg); }

.jq-selectbox {
  vertical-align: middle;
  cursor: pointer;
  width: 100%; }

.jq-selectbox__select {
  height: 40px;
  padding: 0 15px;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background-color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #a6a6a6;
  text-shadow: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 2; }

.jq-selectbox__select:hover,
.jq-selectbox__select:focus,
.jq-selectbox__select:active,
.jq-selectbox__select:visited {
  border-color: #b1b1b1;
  cursor: pointer;
  color: #333; }

.jq-selectbox__select-text {
  display: block;
  width: 100%; }

.jq-selectbox .placeholder {
  color: #a6a6a6; }

.jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 100%; }

.jq-selectbox__trigger-arrow::before {
  content: "\EA02";
  position: absolute;
  top: 42%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 20px;
  font-family: "app-ic";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.jq-selectbox__dropdown {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 2px 0 0;
  padding: 0;
  border: 1px solid #CCC;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background: #FFF;
  -webkit-box-shadow: none;
          box-shadow: none; }

.jq-selectbox__not-found {
  margin: 5px;
  padding: 5px 8px 6px;
  background: #F0F0F0;
  font-size: 13px; }

.jq-selectbox ul {
  margin: 0;
  padding: 0; }

.jq-selectbox li {
  min-height: 37px;
  padding: 12px 10px 6px;
  color: #231F20; }

.jq-selectbox li.selected {
  background-color: #e3e3e3;
  color: #FFF; }

.jq-selectbox li:hover {
  background-color: #e3e3e3;
  color: #FFF; }

.jq-selectbox li.disabled, .jq-selectbox li.form-control.disabled:hover {
  color: #AAA; }

.jq-selectbox li.disabled:hover {
  background: none; }

.jq-selectbox li.optgroup {
  font-weight: bold; }

.jq-selectbox li.optgroup:hover {
  background: none;
  color: #231F20;
  cursor: default; }

.jq-selectbox li.option {
  padding-left: 25px; }

.jq-select-multiple {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1px;
  border: 1px solid #CCC;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background: #FFF;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #333;
  cursor: default; }

.jq-select-multiple.focused {
  border: 1px solid #5794BF; }

.jq-select-multiple.disabled, .jq-select-multiple.form-control.disabled:hover {
  border-color: #CCC;
  background: #F5F5F5;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #888; }

.jq-select-multiple ul {
  margin: 0;
  padding: 0; }

.jq-select-multiple li {
  padding: 3px 9px 4px;
  list-style: none; }

.jq-select-multiple li:first-child {
  -webkit-border-radius: 3px 3px 0 0;
          border-radius: 3px 3px 0 0; }

.jq-select-multiple li:last-child {
  -webkit-border-radius: 0 0 3px 3px;
          border-radius: 0 0 3px 3px; }

.jq-select-multiple li.selected {
  background: #08C;
  color: #FFF; }

.jq-select-multiple li.disabled, .jq-select-multiple li.form-control.disabled:hover {
  color: #AAA; }

.jq-select-multiple li.optgroup {
  font-weight: bold; }

.jq-select-multiple li.option {
  padding-left: 25px; }

.jq-select-multiple.disabled li.selected,
.jq-select-multiple li.selected.disabled {
  background: #CCC;
  color: #FFF; }

.lang-en,
.lang-en .jq-selectbox__select-text {
  background: url(../img/flags/United-Kingdom.png) no-repeat 0 -3px; }

.lang-de,
.lang-de .jq-selectbox__select-text {
  background: url(../img/flags/Germany.png) no-repeat 0 -3px; }

.lang-ru,
.lang-ru .jq-selectbox__select-text {
  background: url(../img/flags/Russia.png) no-repeat 0 -3px; }

.lang-fr,
.lang-fr .jq-selectbox__select-text {
  background: url(../img/flags/France.png) no-repeat 0 -3px; }

.lang .changed .jq-selectbox__select-text {
  padding-left: 45px; }

.lang .jq-selectbox li {
  padding-left: 61px;
  background-position: 16px 2px; }

.lang .jq-selectbox li:first-child {
  display: none; }
