// Component

// title
%title{
  color: $titleColor;
  font-size: $titleFontSize;
  font-weight: $fontBold;
}

.page-title{
  @extend %title;
  text-transform: uppercase;

  .small-title{
    font-size: $smallTitleFontSize;
  }
}

.section-title{
  @extend %title;
}

// links
.link{
  font-size: $linkFontSizeDefault;
  color: $linkColor;

  &.large-link{
    font-size: $linkLargeFont;
  }

  &:hover{
    color: $linkHoverColor;
  }
}

// buttons
.btn{
  padding: 12px 22px;
  font-size: $btnFontSize;
  color: $btnDefaultColor;
  border-radius: 2px;
  display: inline-block;

  & + .btn{
    margin-left: $defaultIndent;
  }

  &.btn-default{
    background-color: $btnDefaultBg;

    &:hover{
      background-color: $btnDefaultBgHover;
    }
  }

  &.btn-action{
    background-color: $btnActionBg;

    &:hover{
      background-color: $btnActionBgHover;
    }
  }

  &.btn-disabled{
    background-color: $btnDisabledBg;
    cursor: not-allowed;

    &:hover{
      background-color: $btnDisabledBgHover;
    }
  }
}

// table
.table {
  border-collapse: collapse;
  font-size: $tableFontSize;

  &.full-width{
    width: 100%;
  }

  tbody {
    tr {

      &:last-child{
        td{
          border-bottom: 1px solid $lightGrey;
        }
      }

      &:hover {
        background-color: $tableTrHover;
        cursor: pointer;
      }
    }
  }
    tr {

      th {
        padding: 30px 18px;
        color: $grey;
        text-align: left;
      }

      td {
        border-top: 1px solid $lightGrey;
        padding: 18px;

        &.td-title {
          font-size: 16px;
          color: $grey;
        }
      }
    }
    .table-sort {
      display: inline-block;
      color: $grey;
      padding: 8px 10px;
      margin: -8px -10px;
      border-radius: 2px;
      cursor: pointer;

      &:hover {
        background-color: $xsLightGrey;
        color: $black;
      }
    }
}

// pagination
%activePaginationLink{
  background-color: $xsLightGrey;
  color: $darkGrey;
  border-radius: 2px;
}

.pagination{

  li{
    display: inline-block;

    &.active{
      a{
        @extend %activePaginationLink;
      }
    }

    a{
      display: inline-block;
      padding: $defaultIndent;

      &:hover{
        @extend %activePaginationLink;
      }
    }
  }
}

// color tab
.color-tab{
  padding: 12px 19px;
  display: flex;
  align-items: center;
  font-size: $tabFontSize;
  color: $tabColor;
  cursor: pointer;
  border-radius: 2px;
  
  &:hover{
    background-color: $tabBgHover;
  }

  .tab-circle{
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }
  .tab-text{
    padding-left: 13px;
  }
  &.color-tab-action{
    background-color: $tabBgAction;
  }
}

// input
.form-control{
  border: 1px solid $inputColorBorder;
  border-radius: 2px;
  color: $inputColor;
  font-size: $inputFontSize;
  padding: 13px 16px;

  &:hover{
    border-color: $inputColorBorderHover;
    cursor: pointer;
    color: $inputColorHover;
  }

  &:focus{
    border-color: $inputColorBorderFocus;
    cursor: pointer;
    color: $inputColorFocus;
  }

  &.invalid{
    border-color: $inputColorBorderInvalid;
  }

  &.disabled{
    background-color: $inputColorBgDesabled;
    border-color: $inputColorBorderDesabled;
    cursor: not-allowed;

    &:hover{
      @extend .disabled;
    }
  }
}

textarea {
  font-size: $textareaFontSize;
  padding: 17px;
  resize: none;
}

input[disabled] {
  background-color: $inputColorBgDesabled;
  border-color: $inputColorBorderDesabled;
  cursor: not-allowed;
}

// notification
.notification{
  color: $notificationColor;
  font-size: $notificationFontSize;
  padding: 12px 14px 12px 22px;
  display: inline-block;
  cursor: pointer;

  &.positive {
    background-color: $notificationColorBgPositive;

    &:hover{
      background-color: $notificationColorBgPositiveHover;
    }
  }

  &.negative{
    background-color: $notificationColorBgNegative;
  }

  &:hover{
    background-color: $notificationColorBgNegativeHover;
  }

}

// container
.container-fluid{
  padding: $defaultIndent;
}

.container-sm{
  max-width: 684px;
  margin: 0 auto;
}

//row
.row{
  margin: 0 (-$defaultIndent);
}

.container-guide{
  background-color: #fff;
}

// header
.header{
  background-color: #fff;
  border-bottom: 1px solid $lightGrey;
  right: 0;
  left: 0;

  .user-controls{

    .user-controls-item{
      padding: 20px;
      border-left: 1px solid $lightGrey;
      min-height: 20px;
      box-sizing: content-box;

      &.user-balance{
        font-weight: $fontRegular;
        font-size: $userBalanceFontSize;
        color: $userBalanceColor;
      }

      &.user-login{
        font-size: $userLoginFontSize;
        color: $userLoginColor;
      }
    }
  }
}

// acide
%activeLink{
  border-left-color: $orange;
  background-color: #282828;
  color: #fff;
}

.aside{
  background-color: $acideBg;
  width: $acideWidth;
  height: 100vh;
  left: 0;
  z-index: 100;
  overflow-y: auto;

  .menu-control{
    padding: $defaultIndent;

    .menu-btn{
      cursor: pointer;

      span{
        display: block;
        width: 18px;
        height: 2px;
        background-color: $darkGrey;

        & + span{
          margin-top: 5px;
        }
      }
    }
  }

  .aside-menu{

    ul{

      li{
        color: $darkGrey;

        &.active{
          a{
            @extend %activeLink;
          }
        }
        a{
          display: block;
          padding: 14px;
          border-left: 4px solid transparent;

          span{
            display: inline-block;
            width: 15px;
          }

          .icon{
            font-size: 17px;
            margin-right: 15px;
          }
          
          &:hover{
            @extend %activeLink;
          }
        }
      }
    }
  }

  .your-manager{
    padding: 27px $defaultIndent;
    border-top: 1px solid $darkGrey;

    .manager-info {
      margin-top: $defaultIndent;

      .manager-photo{
        position: relative;
        margin-right: 10px;

        .status{
          position: absolute;
          width: 11px;
          height: 11px;
          border-radius: 50%;
          right: 0;
          top: 0;

          &.online{
            background-color: $green;
          }

          &.offline{
            background-color: $red;
          }


        }
      }
    }


  }
}

// content wrapper
.content-wrapper{
  padding: $defaultIndent;
  height: calc(100vh - 60px);
  overflow-y: auto;
}
  
.panel {
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

  & + .panel {
    margin-top: $defaultIndent;
  }

  .panel-header {
    border-bottom: 1px solid $lightGrey;
    padding: $defaultIndent;
  }

  .panel-body {
    padding: 0 $defaultIndent;
  }

  .panel-form {
    padding: 40px 0;
    border-bottom: 1px solid $lightGrey;

    form {
      width: 455px;
      display: inline-block;

      .form-control {
        width: 310px;
      }

      .label-group {
        & + .label-group {
          margin-top: 15px;
        }

        label{
          font-weight: $fontBold;
          font-size: $labelFontSize;
          color: $labelColor;
        }
      }
    }
  }

  .panel-footer{
    padding: 30px 0;
  }
}










