// Component

// loader
#loading{
  background-color: $orange;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
  margin-top: 0px;
  top: 0px;
  transition: opacity .3s linear, z-index .1s linear .3s;
}
#loading.hide{
  z-index: -1;
  opacity: 0;
}
#loading-center{
  width: 100%;
  height: 100%;
  position: relative;
}
#loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 200px;
  width: 200px;
  margin-top: -100px;
  margin-left: -100px;
}
#object{
  width: 80px;
  height: 80px;
  background-color: #FFF;
  -webkit-animation: animate 1s infinite ease-in-out;
  animation: animate 1s infinite ease-in-out;
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
}
@-webkit-keyframes animate {
  0% { -webkit-transform: perspective(160px); }
  50% { -webkit-transform: perspective(160px) rotateY(-180deg); }
  100% { -webkit-transform: perspective(160px) rotateY(-180deg) rotateX(-180deg); }
}

@keyframes animate {
  0% {
    transform: perspective(160px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(160px) rotateX(0deg) rotateY(0deg);
  } 50% {
      transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
      -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(0deg) ;
    } 100% {
        transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
        -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
      }
}


// title
%title{
  color: $titleColor;
  font-size: $titleFontSize;
  font-weight: $fontBold;
}

@media (max-width: 479px){
  %title{
    font-size: 14px;
  }
}


.page-title{
  @extend %title;
  text-transform: uppercase;

  .small-title{
    font-size: $smallTitleFontSize;
  }
}

.section-title{
  @extend %title;
}

// form component
%label-default{
  font-weight: $fontBold;
  font-size: $labelFontSize;
  color: $labelColor;
}

// links
.link{
  font-size: $linkFontSizeDefault;
  color: $linkColor;

  &.large-link{
    font-size: $linkLargeFont;
  }

  &:hover{
    color: $linkHoverColor;
  }
}

@media (max-width: 767px){
  .link{
    font-size: $linkFontSizeDefault;

    &.large-link{
      font-size: 14px;
    }
  }
}

// buttons
.btn{
  padding: 9px 22px;
  font-size: $btnFontSize;
  color: $btnDefaultColor;
  border-radius: 2px;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;

  & + .btn{
    margin-left: $defaultIndent;
  }

  &.btn-default{
    background-color: $btnDefaultBg;

    &:hover{
      background-color: $btnDefaultBgHover;
    }
  }

  &.btn-action{
    background-color: $btnActionBg;

    &:hover{
      background-color: $btnActionBgHover;
    }
  }

  &.btn-disabled{
    background-color: $btnDisabledBg;
    cursor: not-allowed;

    &:hover{
      background-color: $btnDisabledBgHover;
    }
  }
}

// color tab
.color-tab{
  padding: 12px 19px;
  align-items: center;
  font-size: $tabFontSize;
  color: $tabColor;
  cursor: pointer;
  border-radius: 2px;

  &:hover{
    background-color: $tabBgHover;
  }

  .tab-circle{
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }
  .tab-text{
    padding-left: 13px;
  }
  &.color-tab-action{
    background-color: $tabBgAction;
  }
}

// list
.list-block {
  padding: 20px 0 55px 0;

  .list {
    width: 50%;

    & + .list{
      margin-left: 65px;
    }

    li{
      border-bottom: 1px solid $lightGrey;
      padding: 20px 0 10px 0;

      .list-title{
        @extend %title;
      }

      span{
        color: $black;
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 479px){
  .list-block {
    padding: 10px 0 45px 0;

    .list {
      width: 100%;

      & + .list{
       display: none;
      }
    }
  }
}

// chart
.chart-wrap{

  .section-title{
    margin-bottom: 25px;
  }

  .tabs{
    margin: 40px 0 70px 0;

    .color-tab{
      & + .color-tab{
        margin-left: 40px;
      }

    }
  }
}

// table
.table {
  border-collapse: collapse;
  font-size: $tableFontSize;

  &.full-width{
    width: 100%;
  }

  &.full-light-width{
    width: 100%;
  }

  thead{
    tr {

      th {
        padding: 30px 15px;
        color: $grey;
        text-align: left;
      }
    }
  }

  tbody{
    tr {

      &:last-child {
        td {
          border-bottom: 1px solid $lightGrey;
        }
      }

      &:hover {
        background-color: $tableTrHover;
        cursor: pointer;

        .icon-hover {
          opacity: 1;
        }
      }

      td {
        border-top: 1px solid $lightGrey;
        padding: 18px;

        a{
          margin-left: 140px;
        }

        &.td-title {
          font-size: 16px;
          color: $grey;
        }
      }
    }
  }

  .table-sort{
    display: inline-block;
    color: $grey;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 30px;
    margin-top: -8px;
    margin-bottom: -8px;
    margin-left: -10px;
    margin-right: -30px;
    border-radius: 2px;
    cursor: pointer;
    position: relative;

    .icon{
      position: absolute;
      top: 4px;
      right: 10px;
    }

    &:hover {
      background-color: $xsLightGrey;
      color: $black;

      .icon-hover{
        opacity: 1;
      }
    }
  }
}

@media (max-width: 1199px){
  .table{

    &.full-light-width{
      width: 1000px;
    }
  }
}
@media (max-width: 767px){
  .table {
    margin-bottom: 15px;

    &.full-width{
      width: 460px;
    }

    tbody{
      tr {
        td {
          padding: 9px;

          a{
            margin-left: 0;
          }

          &.td-title {
            font-size: 14px;
          }
        }
      }
    }
  }
}

// icon-hover
.icon-hover{
  display: inline-block;
  opacity: 0;

    span {
      & + span {
        margin-left: 25px;
      }
    }
  
    .icon:hover{
      color: $orange;
    }
}

// pagination
%activePaginationLink{
  background-color: $xsLightGrey;
  color: $darkGrey;
  border-radius: 2px;
}

.pagination{

  li{
    display: inline-block;

    &.active{
      a{
        @extend %activePaginationLink;
      }
    }

    a{
      display: inline-block;
      padding: $defaultIndent;

      &:hover{
        @extend %activePaginationLink;
      }
    }
  }
}

@media (max-width: 1199px){
  .pagination{
    margin-top: 30px;
  }
}
@media (max-width: 767px){
  .pagination{
    li{
      a{
        padding: 15px;
      }
    }
  }
}
@media (max-width: 599px){
  .pagination{
    li{
      a{
        padding: 9px;
      }
    }
  }
}
@media (max-width: 479px){
  .pagination{
    li{
      a{
        padding: 3px;
      }
    }
  }
}


// notification
.notification{
  color: $notificationColor;
  font-size: $notificationFontSize;
  padding: 12px 14px 12px 22px;
  display: inline-block;
  cursor: pointer;

  &.positive {
    background-color: $notificationColorBgPositive;

    &:hover{
      background-color: $notificationColorBgPositiveHover;
    }
  }

  &.negative{
    background-color: $notificationColorBgNegative;
  }

  &:hover{
    background-color: $notificationColorBgNegativeHover;
  }

}

// container
.container-fluid{
  padding: $defaultIndent;
}

.container-sm{
  max-width: 684px;
  margin: 0 auto;
}


//row
.row{
  margin: 0 (-$defaultIndent);
}

.container-guide{
  background-color: #fff;
}

// header
.header{
  background-color: #fff;
  border-bottom: 1px solid $lightGrey;
  right: 0;
  left: 0;

  .user-controls {
    font-weight: $fontRegular;
    font-size: $userFontSize;
    color: $userColor;

    .user-controls-item{
      padding: 20px;
      border-left: 1px solid $lightGrey;

      span{
        display: inline-block;

        & + *{
          margin-left: $defaultIndent;
        }
      }
    }

    .header-notification{
      position: relative;

      .circle-notification{
        position: absolute;
        top: 18px;
        right: 20px;
        width: 8px;
        height: 8px;
        background-color: $orange;
        border-radius: 50%;
      }

    }

    .header-balance{
      padding-right: 50px;
      position: relative;

      .icon-arrow-down{
        position: absolute;
        top: 17px;
        right: 20px;
      }
    }

    .header-login{

      .user-login{
        font-size: $userLoginFontSize;
        color: $userLoginColor;
      }
    }
  }
}

@media (max-width: 599px){
  .header{

    .user-controls {
      font-size: 16px;

      .user-controls-item{
        padding: 15px;

        span{

          & + *{
            margin-left: 8px;
          }
        }
      }

      .header-notification{

        .circle-notification{
          top: 13px;
          right: 15px;
        }
      }

      .header-balance{
        padding-right: 20px;

        .icon-arrow-down{
          display: none;
        }
      }
    }
  }
}
@media (max-width: 479px){
  .header{

    .user-controls {
      font-size: 13px;

      .user-controls-item{
        padding: 18px 7px;

        span{

          & + *{
            margin-left: 2px;
          }
        }
      }

      .header-notification{

        .circle-notification{
          top: 13px;
          right: 5px;
        }
      }

      .header-balance{
        padding-right: 2px;

        .icon-wallet{
          display: none;
        }
      }
    }
  }
}


// aside
%activeLink{
  border-left-color: $orange;
  background-color: #282828;
  color: #fff;
}

.aside{
  background-color: $acideBg;
  width: $acideWidth;
  height: 100vh;
  left: 0;
  z-index: 100;
  overflow-y: auto;

  .menu-control{
    padding: $defaultIndent;

    .menu-btn{
      cursor: pointer;

      span{
        display: block;
        width: 18px;
        height: 2px;
        background-color: $darkGrey;

        & + span{
          margin-top: 5px;
        }
      }
    }
  }

  .aside-menu{

    ul{

      li{
        color: $darkGrey;

        &.active{
          a{
            @extend %activeLink;
          }
        }
        a{
          display: block;
          padding: 14px;
          border-left: 4px solid transparent;

          .icon{
            font-size: 17px;
            margin-right: 15px;
            width: 15px;
            display: inline-block;
          }

          &:hover{
            @extend %activeLink;
          }
        }
      }
    }
  }

  .your-manager{
    padding: 27px $defaultIndent;
    border-top: 1px solid $darkGrey;

    .manager-info {
      margin-top: $defaultIndent;

      .manager-photo{
        position: relative;
        margin-right: 10px;

        .status{
          position: absolute;
          width: 11px;
          height: 11px;
          border-radius: 50%;
          right: 0;
          top: 0;

          &.online{
            background-color: $green;
          }

          &.offline{
            background-color: $red;
          }


        }
      }
    }


  }
}


// content wrapper
.content-wrapper{
  padding: $defaultIndent;
  height: calc(100vh - 60px);
  overflow-y: auto;
}

@media (max-width: 479px){
  .content-wrapper{
    padding: 0;
  }
}
  
.panel {
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

  & + .panel {
    margin-top: $defaultIndent;
  }

  .panel-header {
    border-bottom: 1px solid $lightGrey;
    padding: $defaultIndent;
  }

  .panel-body {
    padding: 25px $defaultIndent;

    p{
      color: $black;
      font-size: 14px;
      margin-top: 10px;
    }
  }

  .panel-form {
    padding: 40px 0;
    border-bottom: 1px solid $lightGrey;

    .personal-data{
      .label-group{
        & + .label-group{
          margin-left: 0;
        }
        label{
          padding-bottom: 0;
        }
      }
    }

    .label-group{
      & + .label-group{
        margin-left: $defaultIndent;
      }

      label{
        @extend %label-default;
        display: block;
        padding-bottom: $defaultIndent;
      }
    }

    form {
      width: 455px;
      display: inline-block;

      .form-control {
        width: 310px;
      }

      .label-group {
        & + .label-group {
          margin-top: 15px;
        }

        label{
          @extend %label-default;
        }
      }
    }
  }

  .panel-label-group{
    padding-right: $defaultIndent;
    padding-left: $defaultIndent;
  }

  .panel-footer{
    padding: 30px 0;
  }
}

@media (max-width: 767px){
  .panel{
    .panel-label-group{
      display: block;

      .label-group{
        & + .label-group{
          margin-left: 0;
          margin-top: 20px;
        }
      }
    }
  }
}
@media (max-width: 599px){
  .panel {

    .panel-form {

      form {
        width: 300px;
        display: inline-block;

        .form-control {
          width: 185px;
        }
      }
    }
  }
}
@media (max-width: 479px){
  .panel {

    .panel-form {
      padding: 20px 0;
      border-bottom: 1px solid $lightGrey;

      .label-group{

        & + .label-group {
          margin-left: 0;
        }

        label{
          font-size: 14px;
        }
      }

      form {
        width: 232px;
        display: inline-block;

        .form-control {
          width: 100%;
        }

        .label-group {
          display: block;
          margin-bottom: $defaultIndent;

          & + .label-group {
            margin-top: 10px;
          }

          label{
            text-align: left;
            margin-bottom: 10px;
            font-size: 14px;
          }
        }
      }
    }
    .panel-label-group{
      padding-right: 5px;
      padding-left: 5px;
    }
  }
}

.panel-date{
  padding: 30px 0;
  border-bottom: 1px solid $lightGrey;
}

@media (max-width: 767px) {
  .panel {
    .panel-body {
      padding: 10px $defaultIndent;
    }
  }
}
@media (max-width: 599px){
  .panel-date{
    padding: 30px 0 15px 0;
    border-bottom: 1px solid $lightGrey;
  }
}


// date input block
.datepicker-form{

  .btn{
    vertical-align: middle;
  }
}

@media (max-width: 599px){
  .datepicker-form{

    .btn{
      display: block;
      margin: 10px auto;
    }
  }
}

.date-input-wrap{
  padding: 4px 0;
  margin-right: 12px;
  border: 1px solid $lightGrey;
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;
  font-size: $inputFontSize;
  color: $black;

  .date-control{
    padding: 9px 16px;
    text-align: center;
  }

  #to{
    border-left: 1px solid $lightGrey;
    background: url(../img/calendar.svg) no-repeat 90%;
    background-size: 13px 13px;
  }
}

@media (max-width: 599px){
  .date-input-wrap {
    margin: 0 5px;

    .date-control{
      padding: 9px 4px;
    }

    #to{
     width: 45%;
    }

    #from{
      width: 45%;
    }
  }
}
@media (max-width: 479px){
  .date-input-wrap {

    .date-control{
      padding: 3px;
    }

    #to{
      background: #fff;
    }
  }
}

// input
.form-control{
  height: 39px;
  border: 1px solid $inputColorBorder;
  border-radius: 2px;
  color: $inputColor;
  font-size: $inputFontSize;
  padding: 13px 17px;

  &:hover{
    border-color: $inputColorBorderHover;
    cursor: pointer;
    color: $inputColorHover;
  }

  &:focus{
    border-color: $inputColorBorderFocus;
    cursor: pointer;
    color: $inputColorFocus;
  }

  &.invalid{
    border-color: $inputColorBorderInvalid;
  }

  &.disabled{
    background-color: $inputColorBgDesabled;
    border-color: $inputColorBorderDesabled;
    cursor: not-allowed;

    &:hover{
      @extend .disabled;
    }
  }
}

@media (max-width: 479px){
  .form-control{
    padding: 13px;
  }
}


// textarea
.textarea-block{
  margin: 25px 0 -15px;

  & + .textarea-block{
    margin-left: 20px;
  }

  .section-title{
    padding-bottom: $defaultIndent;
  }

  textarea {
    font-size: $textareaFontSize;
    color: $inputColor;
    padding: 17px;
    resize: none;
    border: 1px solid $lightGrey;
    width: 100%;
    height: 185px;
  }
}

input[disabled] {
  background-color: $inputColorBgDesabled;
  border-color: $inputColorBorderDesabled;
  cursor: not-allowed;
}

// modal
.modal{
  background-color: #fff;
  display: none;

  .modal-header{
    padding: $defaultIndent;
    border-bottom: 1px solid $lightGrey;

    span{
      display: block;
    }
  }

  .modal-body{
    padding: 0 $defaultIndent;

    form{
      padding: 25px 0;

      .scheme-name{
        width: 100%;
      }

      .label-group{

        & + .label-group{
          margin-left: $defaultIndent;
        }

        label{
          @extend %label-default;
          display: block;
          padding-bottom: $defaultIndent;
        }

        .input-scheme-name{
          width: 48.79%;
          margin-right: $defaultIndent;
        }

        .select-compain{
          width: 48.79%;
        }

        .select-language{
          width: 133px;
        }
      }
    }
  }

  .modal-footer{
    padding: $defaultIndent;
    border-top: 1px solid $lightGrey;
  }
}

@media (max-width: 1199px){
  .modal{

    .modal-body{

      form{

        .label-group{

          .input-scheme-name{
            width: 50%;
            margin-right: 10px;
          }

          .select-compain{
            width: 45%;
          }
        }
      }
    }
  }
}
@media (max-width: 767px){
  .modal{

    .modal-footer{
      form{
        display: block;

        .form-control{
          margin-bottom: 15px;
          width: 100%;
        }

        .btn{
          padding: 9px 12px;
        }
      }

    }

    .modal-body{

      form{
      display: block;

        .label-group{

          & + .label-group{
            margin-left: 0;
            margin-top: 20px;
          }

          .input-scheme-name{
            width: 100%;
          }

          .select-compain{
            width: 100%;
            display: block;
            margin-top: 10px;
          }
        }
      }
    }
  }
}


#add-links-modal{
  width: 1075px;

  .checkbox-group{
    width: 30%;
  }
}

@media (max-width: 1199px){
  #add-links-modal{
    width: 768px;
  }
}
@media (max-width: 991px){
  #add-links-modal{
    width: 600px;
  }
}
@media (max-width: 767px){
  #add-links-modal{
    width: 480px;

    .checkbox-group{
      width: 80%;
    }
  }
}
@media (max-width: 599px){
  #add-links-modal{
    width: 300px;
  }
}
@media (max-width: 479px){
  #add-links-modal{
    width: 200px;
  }
}


#add-banners-modal{
  width: 1075px;
}

@media (max-width: 1199px){
  #add-banners-modal{
    width: 768px;
  }
}
@media (max-width: 991px){
  #add-banners-modal{
    width: 600px;
  }
}
@media (max-width: 767px){
  #add-banners-modal{
    width: 480px;

    .checkbox-group{
      width: 80%;
    }
  }
}
@media (max-width: 599px){
  #add-banners-modal{
    width: 300px;
  }
}
@media (max-width: 479px){
  #add-banners-modal{
    width: 200px;
  }
}

// checkbox and radio btn
input{

  &[type="checkbox"]{
    display: none;

    & + label{
      font-size: 14px;
      color: $black;
      cursor: pointer;

      &::before{
        content: '';
        display: inline-block;
        width: 18px;
        height: 18px;
        border: 1px solid $lightGrey;
        background-color: #fff;
        margin-right: 16px;
      }
    }

    &:checked{
      & + label{
        &::before{
          background: $green url("../img/checkbox-bg.png") no-repeat center;
        }
      }
    }
  }

  &[type="radio"]{
    display: none;
  }
}

@media (max-width: 479px){
  input{

    &[type="checkbox"]{

      & + label{
        font-size: 13px;
      }
    }

  }
}


// checkbox wrap
.checkbox-wrap{
  padding: 30px 0;

  .checkboxes{
    padding-top: 30px;

    .scrollbar-inner{
      height: 170px;
      flex-wrap: wrap;
      padding-right: 20px;
    }

    .checkbox-group{
      padding: 12px;
      margin-right: 18px;

      &:hover{
        background-color: $xsLightGrey;
      }

      .icon{
        margin-left: auto;
      }
    }
  }
}

@media (max-width: 479px){
  .checkbox-wrap{

    .checkboxes{

      .checkbox-group{

        .icon-show{
          display: none;
        }
      }
    }
  }
}


// range slider
#custom-handle{
  top: 12px;
  width: 0;
  height: 0;
  border: 10px solid white;
  border-bottom-color: $orange;
  background: transparent;
  cursor: pointer;
  text-align: center;

  &:focus{
    outline: none;
    color: $black;
  }

  span{
    position: absolute;
    top: 23px;
    left: -23px;
  }
}

.ui-widget.ui-widget-content{
  border: none;
  background: $lightGrey;
  height: 6px;
}

.ui-widget-header{
  background: $orange;
}

.ui-corner-all{
  border-radius: 0;
}

.dropdown-menu{
  display: none;
  position: absolute;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  top: 100%;
  left: 0;
}
.dropdown-wrap{
  position: relative;
  cursor: pointer;
  &:hover{
    .dropdown-menu{
      display: block;
    }
  }
}

.table-responsive{
  overflow-x: auto;
}

@media (max-width: 599px) {
  .btn-responsive {
    margin-top: 15px;
  }
}


  -webkit-scrollbar-track {
    background-color: #f58220;
    box-shadow: none;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: #f58220;
    box-shadow: none;
  }

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }





















