// Guide style
.guide-wrap{
  padding: 20px;

  & > *{
    margin-bottom: 15px;
    margin-right: 10px;
  }
}

// Main style
main{
  padding-left: $acideWidth;
  padding-top: 60px;
}

.links{

  .panel-body{
    padding: 25px 0;
  }

  .table {
    margin: $defaultIndent 0;
  }
}